</main>

<footer class="ui inverted footer">
  <div class="ui container">
    Alexandria 2026. All Rights Reserved.
  </div>
</footer>

<script src="/javascripts/index.js" defer></script>

</body>
</html>