<%- include('partials/header', { title: 'Home' }) %>

<style>
body {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.titulo-principal {
  color: #564787;
  font-size: 40px;
  font-family: "Stencil Std", "Stencil", fantasy;
  letter-spacing: 1px;
  padding: 20px;
  padding-left: 1px;
  padding-top: 25px;
  box-sizing: border-box;
  text-align: center;
}

.titulo-principal1 {
  color: #564787;
  font-size: 40px;
  font-family: "Stencil Std", "Stencil", fantasy;
  letter-spacing: 1px;
  padding: 20px;
  padding-left: 1px;
  padding-top: 70px;
  box-sizing: border-box;
  text-align: center;
}

h2 {
  font-family: 'Georgia', serif;
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 20px;
}

p {
  font-family: 'Georgia', serif;
  color: #564787;
  max-width: 700px;
  line-height: 1.5;
  font-size: 18px;
  font-weight: bold;
  text-align: justify;
  margin: 10px 0;
  margin-top: 20px;
}

.bloco {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1300px;
  margin: 30px auto;
  padding: 25px 20px;
  background-color: #ad9fdd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  gap: 40px;
}

.titulo {
  flex: 1;
}

.texto {
  flex: 2;
}

.texto1 {
  flex: 2;
  margin-left: 70px;
}

.titulo-principal {
  text-align: center;
}

.titulo-principal1 {
  text-align: center;
  margin-left: 12,999px;
}

.home {
  min-height: auto;
}

</style>

  <div class="bloco">

    <div class="titulo">
      <h2 class="titulo-principal">Bem-vindo à Alexandria!</h2>
    </div>

    <div class="texto">
    <p>
      Nós somos um site sem fins lucrativos com o intuito de armazenar, guardar e difundir a propagação de
      histórias feitas de fãs para fãs sem custo monetário.
      Explore nossas páginas, e
      <a href="/signup">Inscreva-se</a> para poder ler e salvar as suas histórias!
    </p>
  </div>
</div>

<div class="bloco">

  <div class="texto1">
    <p>
      Também conhecidas apenas como "fanfics", em português essa palavra pode ser definida como ficção de fã.
      São narrativas não oficiais divulgadas por admiradores de algum trabalho audiovisual, literário, ou simplesmente de pessoas reais.
      Inicialmente existiam em fanzines impressos, posteriormente sendo publicadas em blogues, sites e em outras plataformas pertencentes ao ciberespaço.
      Acesse <a href="/works">Trabalhos</a> para olhar as criações dos usuários,
      e <a href="/publishworks">Postar trabalho</a> para publicar uma história de sua autoria.
    </p>
  </div>

    <div class="titulo">
      <h2 class="titulo-principal1">Você sabe o que é "fanfiction"?</h2>
    </div>
</div>

<%- include('partials/footer') %>