/*######### INICIO #########*/
/*remove os padrões do navegador*/      
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*##################*/


/*######## ESTRUTURA BÁSICA ##########*/
/*estrutura principal da pagina*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
            
.main-content {
    flex: 1;
    padding: 40px;
}
/*##################*/


/*######## HOME ##########*/
/*tela principal (home/index)*/
.home {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
/*##################*/